:host {
  --cellHeight: 24px;
  --cellWidth: 160px;
  --tableBorderColor: #241772;
  --tableBackground: #000;
  --focusedBorderColor: #fff;
  --availableBackground: #168C34;
  --tentativeBackground: #162D59;

  box-sizing: border-box;
  text-align: center;
  display: block;
  margin: 1rem 0;

  background-color: var(--backgroundColor, #000);
  color: var(--foregroundColor, #fff);
}

:host * {
  box-sizing: border-box;
}

.header {
  text-align: left;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.json {
  all: initial;
  color: inherit;
  font: inherit;
  font-family: monospace;
  text-overflow: ellipsis;
  border: 1px solid;
  margin: 0 1rem;
  padding: 1rem;
  flex: 1;
}

.copy {
  background-color: var(--tableBorderColor);
  color: inherit;
  border: 0;
  align-self: stretch;
  padding: 0 1rem;
}

.days {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--tableBackground);
}

.timezone, .th {
  display: block;
  width: var(--cellWidth);
  flex: 1 0 auto;
  text-align: center;
}

.week {
  display: inline-flex;
  padding: 1rem;
  border: 1px solid var(--tableBorderColor);
}

.week > :first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}