:host {
  display: block;
  box-sizing: border-box;
}

:host * {
  box-sizing: border-box;
}

:host([lastday]) .cell:not(:last-child) {
  border-right: 1px solid var(--tableBorderColor);
}

:host([legend]) .cell:before {
  display: block;
  background-color: var(--tableBackground);
  padding: 0 1rem;
  transform: translateY(-50%);
}


:host([legend]) .cell:before {
  content: attr(data-start);
}

.weekday {
  position: relative;
}

.heading {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--tableBackground);
  z-index: 2;
  padding: 1rem 0;
}

.times {
  padding: var(--cellHeight) 0 0;
  width: var(--cellWidth);
}

.cell {
  height: var(--cellHeight);
  border-top: 1px solid var(--tableBorderColor);
  border-left: 1px solid var(--tableBorderColor);
  display: flex;
  justify-content: center;
}

.cell:last-child {
  border-left: none;
  pointer-events: none;
}

.availability {
  display: contents;
}

.available {
  position: absolute;
  background-color: var(--availableBackground);
  border: 2px solid transparent;
  border-radius: 4px;
  width: 100%;
  left: 0;
  display: flex;
  font-size: .7em;
  padding: 5px;
  line-height: 1;
  z-index: 1;
  opacity: .8;
}

.available.tentative {
  background-color: var(--tentativeBackground);
}

.available.tentative:after {
  content: "tenative";
  margin-top: auto;
  margin-left: auto;
}

.available[data-start][data-end]:before {
  content: attr(data-start) "-" attr(data-end);
  display: block;
  text-align: left;
  flex-shrink: 0;
}

.available:focus {
  border: 2px solid var(--focusedBorderColor);
  outline: 0;
}